
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of admin</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hung</td>
        </tr>
        <tr>
            <td>Nguyen</td>
        </tr>
        <tr>
            <td>Quoc</td>
        </tr>
    </tbody>
</table>
