
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index user</h2>
@Html.ActionLink("Đặt phòng", "Index", "Register", new { @area = "TVNguoiDung" }, new { @class = "btn btn-primary" })

